.button {
  display: inline-block;
  padding: 0 .75rem;
  background-color: rgb(255, 208, 0);
  color: #000;
  text-decoration: none; /* 去掉下划线 */
  width: 11.25rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: .75rem;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 227, 102); /* 悬停时的背景颜色 */
  }
}


