
.content_2{
  padding: .75rem;
  background-color: #fff;
  width: 13.125rem;
  height: 14.375rem;
  border-radius: 1.875rem;
  text-align: center;

  .pic{
    margin: 2.25rem 0rem;
    width: 3.4375rem;
    height: 3.4375rem;
  }
  
  .title{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .paragraph{
    margin-top: .375rem;
    font-size: .875rem;
    font-weight: 300;
  }
}