
.content_1{
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 27px;
  text-align: left;
  overflow: hidden;
  position: relative;

  .title{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
  }

  .paragraph{
    font-size: 14px;
    font-weight: 300;
  }
  .pic{
    position: absolute;
  }
}