.meituan-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 1482.4px) {
    width: 1482.4px;
  }
  height: 4.875rem;
  transition: top 0.3s ease-in-out,background-color 0.3s ease-in-out;

  // 固定位置
  z-index: 99;
  position: sticky;
  top: 0;
  margin-top: -4.875rem;

  // 左侧logo样式
  .navbar-left {
    margin-left: 4.375rem;
    .logo-wrapper {
      margin-left: 2.5rem;
      cursor: pointer;
      .logo-img {
        width: 12rem;
        height: 2.5rem;
      }
    }
  }

  // 导航菜单样式
  .navbar-center {
    display: flex;

    .nav-link {
      position: relative;
      padding: 0rem 2.125rem;
      height: 4.875rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 4.875rem;
      color: #000;
      text-decoration: none;

      .line {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        font-weight: 500;
        margin: 1rem auto 0;
        width: 1.5rem;
        height: .25rem;
        border-radius: .125rem;
        background: #ffd000;
        &.active{
          display: block;
        }
      }
      &:hover {
        .line{
          display: block;
        }
      }
    }
  }

  // 右侧按钮样式
  .navbar-right {
    display: flex;

    .language-btn {
      margin-right: .75rem;
      width: 5rem;
      height: 2.25rem;
      padding: .375rem .75rem;
      background: transparent;
      border: .0625rem solid rgb(100,100,100);
      border-radius: .25rem;
      color: rgb(100, 100, 100);
      cursor: pointer;
      transition: color 0.3s,borderColor 0.3s;

      .language-text{
        font-size: .875rem;
      }

      &:hover {
        color: rgb(10,10,10);
        border-color: rgb(10,10,10);
      }
    }

    .login-btn {
      margin-right: 2.5rem;
      width: 5rem;
      height: 2.25rem;
      padding: .375rem 1.25rem;
      background: #FFC300;
      border: none;
      border-radius: .25rem;
      font-weight: 500;
      cursor: pointer;
      transition: borderColor 0.3s;

      .login-text{
        color: rgb(10,10,10);
        font-size: .875rem;
      }

      &:hover {
        background: rgb(255, 227, 102);
      }
    }
  }


  &.black{
    background: transparent;

    // 导航菜单样式
    .navbar-center {
      .nav-link {
        color: #fff;
      }
    }

    // 右侧按钮样式
    .navbar-right {
      .language-btn {
        border: .0625rem solid #eee;
        color: #eee;

        &:hover {
        color: #FFC300;
        border-color: #FFC300;
        }
      }
    }
  }
  &.white{
    background: #fff;
    // 导航菜单样式
    .navbar-center {
      .nav-link {
        color: #000;
      }
    }

    // 右侧按钮样式
    .navbar-right {
      .language-btn {
        border: .0625rem solid rgb(100,100,100);
        color: rgb(100, 100, 100);

        &:hover {
          color: rgb(10,10,10);
          border-color: rgb(10,10,10);
        }
      }
    }
  }
}