.beidou-footer{
  background-color: #f4f5f7;
  .content{
    margin: auto;
    width: 80rem;
    .logoAndSlogan{
      display: flex;
      justify-content: space-between;
      padding: 3rem 0 7.125rem;
      border-bottom: 1px solid #e6e7eb;
      img{
        width: 18rem;
        height: 3.75rem;
      }
      .slogan{
        text-align: right;
        color: #111925;
        .slogan_cn{
          font-size: 36px;
          line-height: 44px;
          margin: 0;
        }
        .slogan_en{
          margin: .75rem 0 0;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  .copyAndFocusUs{
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copy{

      .copyText{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        .line{
          margin: 0 8px;
          color: #e7e8e9;
        }
        .meituanUrl,
        .meituanCopy,
        .num-1,
        .num-2,
        .rule,
        .contact{
          color: #a5a8ae;
        }
        a:hover{
          color: #002a57;
        }
      }
    }
    .FocusUsWrap{

      .FocusUs{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.84);
      }
    }
  }
}