.person-item{
  display: flex;
  background-color: #fff;
  width: 28.5rem;
  border-radius: 1.9rem;
  cursor: pointer;
  padding: 1rem;
  &:hover{
    box-shadow: 0 .5rem 1.5rem 0 rgba(0, 0, 0, 0.08);
  }
  .pic{
    overflow: hidden;
    border-radius: 1.1rem;
    width: 11.5rem;
    height: 9.2rem;
  }
  .content{
    margin-left: 1.25rem;
    width: 15.7rem;
    .content{
      font-size: 1.125rem;
      margin: 0;
      font-weight: 600;
    }
    .experience{
      padding: 0;
      margin: 0;
      .experience-li{
        display: flex;
        position: relative;
        .disc{
          position: absolute;
          width: .375rem;
          height: .375rem;
          border-radius: 50%;
          background-color: #fc0;
          top:14px;
        }
        p{
          font-size: .75rem;
          margin: 8px 0 0;
          line-height: 1.125rem;
          margin-left: .875rem;
        }
      }
    }
  }
}